.THIS {
    background-color: #f0f0f0;
    border-radius: 5px;
} 
.THIS .cellWidth{
	min-width: 80px;
}

.THIS .ft-head tr th {
    font-size: .75rem;
    line-height: 1.5;
    color: rgb(84, 105, 141);
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    border: 1px solid lightgrey;
}

.THIS .ft-table {
    margin: auto;  
    width: 99%;
    border: 1px solid lightgrey;
}

.THIS a {
    color: black;
}
.THIS .tbodyTd {
 	text-align: center;
 	border: 1px solid lightgrey;
}