.THIS {
    background-color: #f0f0f0;
    border-radius: 5px;
} 
/*.THIS .footerText{
	font-size: 10px;
}

.THIS {
	position: relative;

}
.THIS .dimmed {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}*/