.THIS.div1 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}


.THIS .ValueTitle{
	font-size: 13px;
}

.THIS .dayColor
{
	float: left;
	color: red;
}
.THIS .dayNormal
{
	float: left;
}
.THIS .icnUP svg{
	fill: green;
}
.THIS .icnDOWN svg{
	fill: red;
}
.THIS .rowHeight {
	min-height: 30px;
}