.THIS label{
    display: none;
}

.THIS select{
    height: 2.2rem !important;
}
.THIS .feedPicklist.slds-form-element .slds-select{
    background-color: #ffffff;
}
.THIS .feedPicklist.slds-form-element {
    padding-right: 0px !important;
}