.THIS {
    background-color: #f0f0f0;
    border-radius: 5px;
} 
.THIS.fixed_headers {
  width: 100%;
  border-collapse: collapse;
}

.THIS.fixed_headers th, .THIS.fixed_headers  td {
    font-size: .75rem;
    line-height: 1.25;
    color: rgb(84, 105, 141);
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    border: 1px solid lightgrey;
    text-overflow: ellipsis;
    overflow: hidden;
}

.THIS.fixed_headers td:nth-child(1), .THIS.fixed_headers th:nth-child(1) { width:  22px; max-width: 22px; min-width: 22px;}
.THIS.fixed_headers td:nth-child(2), .THIS.fixed_headers th:nth-child(2) { width:  55px; max-width: 55px; min-width: 55px;}
.THIS.fixed_headers td:nth-child(3), .THIS.fixed_headers th:nth-child(3) { width:  7%; min-width: 75px;}
.THIS.fixed_headers td:nth-child(4), .THIS.fixed_headers th:nth-child(4) { width:  6%; min-width: 45px;}
.THIS.fixed_headers td:nth-child(5), .THIS.fixed_headers th:nth-child(5) { width:  5%; min-width: 57px;}
.THIS.fixed_headers td:nth-child(6), .THIS.fixed_headers th:nth-child(6) { width:  9%; max-width: 9%}
.THIS.fixed_headers td:nth-child(7), .THIS.fixed_headers th:nth-child(7) { width:  9%; max-width: 9%}
.THIS.fixed_headers td:nth-child(8), .THIS.fixed_headers th:nth-child(8) { width:  7%; min-width:76px }
.THIS.fixed_headers td:nth-child(9), .THIS.fixed_headers th:nth-child(9) { width:  9%; min-width: 61px}
.THIS.fixed_headers td:nth-child(10), .THIS.fixed_headers th:nth-child(10) { width: 7%; min-width:94px}
.THIS.fixed_headers td:nth-child(11), .THIS.fixed_headers th:nth-child(11) { width: auto}


.THIS.fixed_headers thead tr {
      display: block;
      position: relative;
}

.THIS.fixed_headers thead {
    display: block;
    position: relative;
}

.THIS.fixed_headers th {
    background-color: rgb(244, 246, 249);
}

.THIS.fixed_headers tbody {
    display: block;
    width: 100%;
    height: 100%;  

}