<template>
    <lightning-card title={label.fattening} icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <lightning-record-edit-form
                    object-api-name="Flock__c"
                    onload={handleOnLoad}
                    onsubmit={handleSubmit}
                    onsuccess={handleSuccess}
                    onerror={handleError}>
                <lightning-messages></lightning-messages>
                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Initial_Flock__c" value={recordId} disabled></lightning-input-field>
                        <lightning-input-field field-name="Species__c" value={species} disabled></lightning-input-field>
                        <lightning-input-field field-name="Genetic_Line__c" value={geneticLine} disabled={disableTransformation} class="lightningInput"></lightning-input-field>
                        <lightning-input-field field-name="Birds_at_arrival__c" disabled={disableTransformation} onchange={getBirdsToRemove}></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="House__c" disabled={disableTransformation} class="lightningInput"></lightning-input-field>
                        <lightning-input-field field-name="Type__c" value={label.fatteningApiName} disabled></lightning-input-field>
                        <lightning-input-field field-name="Date_of_arrival__c" disabled={disableTransformation} class="lightningInput"></lightning-input-field>
                        <lightning-layout>
                            <lightning-layout-item size="4" flexibility="auto" class="slds-p-around--x-small">
                                <legend class="slds-form-element__label">
                                    {label.weightAtArrival}
                                </legend>
                            </lightning-layout-item>
                            <lightning-layout-item size="8" flexibility="auto">
                                <lightning-input-field field-name="Chick_weight_at_arrival__c" disabled={disableTransformation} variant="label-hidden"></lightning-input-field>
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>
                </div>

                <lightning-record-view-form
                        record-id={recordId}
                        object-api-name="Flock__c">
                    <div class="slds-theme_default">
                        <lightning-output-field field-name="Current_number_of_birds__c">
                        </lightning-output-field>
                    </div>
                </lightning-record-view-form>

                <lightning-button
                        class="slds-m-top_small"
                        type="submit"
                        label={label.save}
                        disabled={disableTransformation}>
                </lightning-button>
            </lightning-record-edit-form>
        </div>
    </lightning-card>
</template>