html {
background: #f0f0f0;
}

/* Header */

.selfServiceSearchWrapper .search-field-group {
border-radius: 3px;
}
.navigationMenu .slds-button {
margin: 0px 0 0px;
}
.forceCommunityNavigationMenu .homeLink {
display: none !important;
}
.forceCommunityNavigationMenu .navigationMenu {
white-space: unset;
}
.forceCommunityNavigationMenu .menuItemLink, .forceCommunityNavigationMenu .menuItemLink.triggerLink {
padding: 13px 14px;
display: inline-block;
text-transform: uppercase;
}
.forceCommunityNavigationMenu .menuItemLink:hover, .forceCommunityNavigationMenu .menuItemLink:focus, .forceCommunityNavigationMenu .menuItemLink.triggerLink:hover, .forceCommunityNavigationMenu .menuItemLink.triggerLink:focus, .forceCommunityNavigationMenu .menuItem.current .menuItemLink, .forceCommunityNavigationMenu .menuItem.current .menuItemLink.triggerLink {
color: #2c4490;
background-color: #f0f0f0;
}
.forceCommunityNavigationMenu .homeButton.menuItemLink {
float: left;
}
.forceCommunityNavigationMenu .navigationMenuNode {
list-style-type: none;
display: inline-block;
vertical-align: middle;
}
.slds-button--icon-border {
height: auto;
}

.forceCommunityOmniBox.selfServiceSearchWrapper .search-input-group, .forceCommunityOmniBox.selfServiceSearchWrapper .search-button.uiButton, .forceCommunityOmniBox.selfServiceSearchWrapper .search-field {
height: 36px;
border-radius: 3px;
}
.forceCommunityOmniBox.selfServiceSearchWrapper .search-button.uiButton{

border-radius: 0px 3px 3px 0px;
}
.forceCommunityOmniBox.selfServiceSearchWrapper .search-button.uiButton, .forceCommunityOmniBox.selfServiceSearchWrapper .has-input .search-button.uiButton, .forceCommunityOmniBox.selfServiceSearchWrapper .search-button.uiButton.focus {
background-color: #2c4490;
}
.forceCommunityOmniBox.selfServiceSearchWrapper .search-input-group {
border-radius: 5px 0px 0px 5px;
}
.forceCommunityNavigationMenu {
border-top: 1px solid #2c4490;
background: #2c4490;
}
.selfServiceProfileMenuTrigger .profileName {
padding: 0 0px 0 7px;
font-weight: 600;
font-size: .6125em;
text-transform: none;
display: inline-block;
vertical-align: middle;
max-width: 140px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
text-align: left;
margin-right: 10px;
border-right: 1px solid #2c4490;
border-radius: 0px !important;
max-height: 36px;
margin-top: -3px;
line-height: 36px;
}
.uiMenuList--default .uiMenuItem > a:hover, .uiMenuList--default .uiMenuItem > a:focus, .uiMenuList--default .uiMenuItem > span:hover, .uiMenuList--default .uiMenuItem > span:focus {
outline: 0;
text-decoration: none;
background-color: #2c4490;
color: #fff;
border-radius: 0px;
}
.uiMenuList--default .uiMenuItem > a, .uiMenuList--default .uiMenuItem > span {
display: block;
padding: .5rem .75rem;
color: #2c4490;
position: relative;
white-space: nowrap;
font-size: 0.75rem;
overflow-x: hidden;
text-overflow: ellipsis;
}
.selfServiceProfileMenu .uiMenuItem {
line-height: normal;
border-top: 1px solid #ccc;
}
.selfServiceProfileMenu .menuList ul {
white-space: nowrap;
max-height: 26rem;
border: 1px solid #2c4490;
border-radius: 3px;
}
.uiMenuList--default.uiMenuList {
padding: 0;
}



/* Content */
.slds-p-horizontal_small, .slds-p-horizontal--small {
padding-right: 0rem;
padding-left: 0rem;
}
.slds-theme_default, .slds-theme--default {
background-color: #f0f0f0;
color: #333;
}

.selfServiceProfileMenuTrigger .profileIcon {
width: 36px;
height: 36px;
border-radius: 0%;
vertical-align: middle;
}
.slds-form-element {
position: relative;
padding-right: 40px;
}
.slds-form-element__label {
display: inline-block;
color: #2c4490;
font-size: .875rem;
line-height: 1.375;
margin-right: .75rem;
margin-bottom: .25rem;
}
.slds-select {
background-color: #f2f2f2;
color: #2c4490;
border: 1px solid #2c4490;
border-radius: 3px;
width: 100%;
-webkit-transition: border .1s linear,background-color .1s linear;
transition: border .1s linear,background-color .1s linear;
height: calc(1.875rem + (1px * 2));
}
.slds-section-title_divider, .slds-section-title--divider {
font-size: 12px;
line-height: 1.25;
color: #2c4490;
text-transform: uppercase;
letter-spacing: .0625rem;
padding: .75rem 0rem;
background: none;
}



/* Komorki */

.cPanelFerm .boxClass {
border-style: solid;
border-width: 1px;
border-color: lightgrey;
min-width: 160px;
margin: 3px;
background: #ffffff;
color: #2c4490 !important;
border-radius: 5px;
}

.slds-theme_default, .slds-theme--default {
background-color: rgb(240, 240, 240);
color: #333;
}
.slds-box {
padding: 0;
border-radius: 0;
border: 0;
}
.slds-box_x-small, .slds-box--x-small {
padding: .5rem;
text-align: center;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}
.slds-box_x-small img, .slds-box--x-small img {
width: 65px;
height: auto;
margin: 0 auto 16px auto;
display: block;
}
.cPanelFerm .tabTitles {
float: left;
color: #2c4490;
font-size: 11px;
font-weight: bold;
}
.cPanelFerm .FooterCss {
border-style: solid;
border-top-style: solid;
border-width: 0px;
border-top-width: 0px;
border-color: none;
font-size: 10px;
background-color: transparent !important;
height: auto;
min-width: 35px;
padding: 10px 0px 30px;
border-top: 1px solid;
margin: 0 8px;
}
.cPanelFerm .ValueCss {
font-weight: bold;
font-size: 11px !important;
}

/* Tabele */
.cPanelStatystykWrapper.fixed_headers th {
background-color: #2c4490 !important;
color: #fff !important;
padding: 5px 15px;
}
.cPanelStatystykWrapper.fixed_headers td:nth-child(1), .cPanelStatystykWrapper.fixed_headers th:nth-child(1) {
width: 40px !important;
max-width: 40px !important;
min-width: 40px !important;
}
.cPanelStatystykWrapper.fixed_headers td:nth-child(2), .cPanelStatystykWrapper.fixed_headers th:nth-child(2) {
width: 65px !important;
max-width: 65px !important;
min-width: 65px !important;
}
.uiInput--select.select:not([multiple]), .uiInput--select .select:not([multiple]), .uiInput--select .uiPopupTrigger a {
text-align: center;
}

.uiInput--input .input, .uiInput--input.input {
text-align: center;
border-radius: 0;
}



/* Responsywne */
@media (min-width:64.0625em) {
.siteforceNapiliBody .cHeaderLine {
padding: 80px 14px 152px 14px;
}

.slds-size--1-of-2 {
width: 16%  !important;
}

.selfServiceProfileMenuTrigger .trigger-link {
padding: 8px 12px 8px 0px;
border: 1px solid #2c4490;
color: #2c4490;
border-radius: 3px;
}
.siteforceNapiliBody .cProfileCon {
width: 100%;
float: right;
max-width: 216px;
margin-top: 4px;
}
.selfServiceProfileMenuTrigger .triggerDownArrow {
border-top: 10px solid;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
display: inline-block;
margin-left: 4px;
margin-bottom: 3px;
vertical-align: middle;
}
.selfServiceProfileMenu .uiMenuList {
-webkit-transition: none;
transition: none;
width: 216px;
background: #f0f0f0;
}
}

@media (min-width:48em) and (max-width:64.0625em){
.siteforceNapiliBody .cHeaderLine {
padding: 80px 14px 152px 14px;
}
.siteforceNapiliStyle.cOmniBoxFocused .cHeaderLine {
padding: 80px 14px 152px 14px;
}
.siteforceNapiliBody .cProfileCon {
width: auto;
float: right;
margin-top: 4px;
}
}

@media (min-width:48em) {
.siteforceNapiliStyle.cOmniBoxFocused .cHeaderLine {
padding: 80px 14px 152px 14px;
}
.siteforceNapiliBody .cSearchPublisher {
float: left;
width: 100%;
margin-top: 8px;
max-width: 526px;
}
.siteforceNapiliStyle.cOmniBoxFocused .cSearchPublisher {
width: 100%;
margin-top: 8px;
max-width: 526px;
}
.siteforceNapiliBody .selfServiceProfileMenuTrigger .profileIcon {
width: 37px;
height: 37px;
margin-top: -4px;
}
td .slds-medium-size_1-of-3, td .slds-medium-size--1-of-3 {
width: 32%;
}
}



@media (max-width:1023px) {
.siteforceNapiliBody .uiMenuList--default.uiMenuList {
left: -175%;
min-width: 200px;
}
}

@media (max-width:767px) {
.slds-p-horizontal--small .slds-grid {
display: block;
}
td .slds-form-element {
position: relative;
padding-right: 0px;
margin-bottom: 20px;
}
.slds-form-element {
position: relative;
padding-right: 10px;
margin-bottom: 20px;
}
.siteforceNapiliBody .cSearchPublisher {
width: 70%;
float: none;
display: inline-block;
}
.siteforceNapiliBody .cProfileCon {
line-height: 36px;
height: 36px;
width: 36px;
float: none;
display: inline-block;
}
.siteforceNapiliBody .selfServiceProfileMenuTrigger .profileIcon {
width: 36px;
height: 36px;
}

}

@media (min-width:360px) and (max-width:510px){
td .slds-medium-size_1-of-3, td .slds-medium-size--1-of-3 {
width: 48% !important;
}
.slds-medium-size_1-of-3, .slds-medium-size--1-of-3 {
width: 100% !important;
}
}

@media (max-width:64em) {
td .slds-large-size_1-of-6, td .slds-large-size--1-of-6 {
width: 32%;
}
}

@media only screen and (max-width: 47.9375em) {
.forceCommunityNavigationMenu .homeLink {
display: block !important;
}
.forceCommunityNavigationMenu .navigationMenuNode+.navigationMenuNode {
margin-right: 0;
width: 100%;
display: block;
}
.forceCommunityNavigationMenu .menuItemLink, .forceCommunityNavigationMenu .menuItemLink.triggerLink, .forceCommunityNavigationMenu .subMenuItem a[aria-disabled=false] {
max-width: initial;
width: 100% !important;
}
.forceCommunityNavigationMenu .navigationMenuNode {
display: block;
border-bottom: 1px solid #f4f4f4;
width: 100%;
}
.forceCommunityNavigationMenu .homeButton.menuItemLink {
float: left;
display: none;
}
.forceCommunityNavigationMenu .menuItemLink, .forceCommunityNavigationMenu .menuItemLink.triggerLink {
padding: 13px 24px;
display: inline-block;
color: #2c4490;
text-transform: uppercase;
font-size: 20px;
}
.forceCommunityNavigationMenu .menuItemLink:hover, .forceCommunityNavigationMenu .menuItemLink.triggerLink:hover, .forceCommunityNavigationMenu .menuItemLink.triggerLink.current .menuItemLink, .forceCommunityNavigationMenu .menuItem.current .menuItemLink, .forceCommunityNavigationMenu .menuItem.current .menuItemLink.triggerLink {
background-color: #2c4490;
color: #fff;
}
.forceCommunityNavigationMenu .menuItemLink, .forceCommunityNavigationMenu .menuItemLink.triggerLink, .forceCommunityNavigationMenu .subMenuItem a[aria-disabled=false] {
max-width: initial;
width: 100% !important;
color: #2c4490;
font-weight: 400;
font-size: 18px;
padding-left: 40px;
text-transform: uppercase;
}
}

@media (max-width:48em) {

td .slds-medium-size_1-of-3, td .slds-medium-size--1-of-3 {
width: 32%;
}
.slds-medium-size_1-of-3, .slds-medium-size--1-of-3 {
width: 50%;
}

.siteforceNapiliBody .cBrandingProfile {
width: 100%;
}
.siteforceNapiliBody .cBrandingLogo {
background-position: center;
background-repeat: no-repeat;
background-size: auto 100%;
z-index: 99;
cursor: pointer;
position: relative;
max-width: 100%;
max-height: 52px;
display: block;
outline: 0;
width: 100%;
height: 45px;
margin-bottom:10px;
}
.siteforceNapiliBody .cHeaderLine {
padding: 20px 14px 152px;
text-align: center;
}
.cPanelFerm .boxClass {
min-width: auto;
}
}
@media (max-width:32em) {
td .slds-medium-size_1-of-3, td .slds-medium-size--1-of-3 {
width: 100%;
}
}

@media (max-width:30em) {
.slds-medium-size_1-of-3, .slds-medium-size--1-of-3 {
width: 100%;
}
}

/* new styles 2017-08-11*/
.siteforceNapiliBody .forceEntityIcon {
display: block;
border-radius: 50px;
background: #fdea14 !important;
width: 65px !important;
height: 65px !important;
}

.slds-button-wrapper {
margin: 20px 0 20px;
}
.slds-is-resizable .slds-th__action:hover, .slds-is-resizable .slds-th__action:focus {
box-shadow: none !important;
}

.slds-cell-fixed {
position: absolute;
top: 0;
min-height: auto !important;
background: #2c4490 !important;
}
.slds-is-sortable .slds-th__action:hover, .slds-is-sortable .slds-th__action:focus, .slds-is-sortable.slds-has-focus .slds-th__action, .slds-is-sortable.slds-has-focus .slds-th__action:hover, .slds-is-sortable.slds-has-focus .slds-th__action:focus {
color: #929292 !important;
}
.siteforceNapiliBody .listViewContainer .forceRecordLayout thead tr th a {
color: #fff;
font-size: .75rem;
line-height: 1.5;
padding: 10px 15px 5px;
}
.slds-table thead th {
color: #fff;
}
.cFlockTabWrapper .ft-head tr th {
font-size: .75rem;
line-height: 1.5;
color: rgb(255, 255, 255)!important;
text-transform: uppercase;
word-wrap: break-word;
text-align: center;
border: 1px solid white !important;
background: #2c4490 !important;
}

.slds-table_bordered, .slds-table--bordered {
border-collapse: separate;
border-top: 1px solid #f4f4f4;
border-bottom: 1px solid #f4f4f4;
}
.slds-table_bordered tbody td, .slds-table_bordered tbody th, .slds-table--bordered tbody td, .slds-table--bordered tbody th {
border-top: 1px solid #f4f4f4;
border-right: 1px solid #f4f4f4;
font-size: 1rem;
}
.slds-button_brand, .slds-button--brand {
padding-left: 1rem;
padding-right: 1rem;
text-align: center;
vertical-align: middle;
background-color: #2c4490 !important;
border: 1px solid #2c4490 !important;
color: #ffffff;
}
.slds-table:not(.slds-no-row-hover) tbody tr:hover > td, .slds-table:not(.slds-no-row-hover) tbody tr:hover > th {
background-color: rgb(204,204,204,0.2);
}
.slds-table_striped tbody tr:nth-of-type(2n) > td, .slds-table_striped tbody tr:nth-of-type(2n) > th, .slds-table--striped tbody tr:nth-of-type(2n) > td, .slds-table--striped tbody tr:nth-of-type(2n) > th {
background-color: rgb(204,204,204,0.2);
}
.siteforceNapiliBody .slds-dropdown {
background-color: #ffffff
}